* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: helvetica, sans-serif;
}

main section {
    max-width: 536px;
    margin: 0 auto; 
    padding: 600px 400px;
    border-radius: 10px;
}

#box1 {background-color: red}
#box2 {background-color: blue}
#box3 {background-color: yellow}