:root {
    font-size: 62.5%;
}

/* V3 Tema 1 */


* {
    margin: 0;
}

html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
}

/* Body top */
.front-top {
    padding: 2rem 5rem;
    align-content: center;
    text-align: center;
    display: block;
    margin: auto;

}

.front-top img {
    width: 102rem;
    height: 55rem;
    margin-top: 1rem;
}
/* Bok utenfor bildet */
.boxed {
    border: 1.3rem solid rgba(255, 127, 0, 0.5);
    display: inline-block;
    border-radius: 1rem;
    padding: 4rem 4rem 4rem 8rem;
    width: 18rem;
    margin-left: -7rem;
    margin-top: 6rem;
    position: absolute;
}

.boxed p{
    font-size: 4rem;
    font-weight: 700;
    font-display: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
}

/* Box uten for bildet end */
/* Body top end */

/* Lokal lag BOX Start */

.lokal-lag {
    border: 15px solid orange;
    background-color: orange;
    width: 100rem;
    height: 18rem;
    justify-content: center;
    justify-self: center;
    margin: auto;
    margin-top: 2rem;
    display: block;
    border-radius: 1rem;   
}

.lokal-lag h1 {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
    font-display: bold;
    font-weight: 600;
    font-size: 3.5rem;
    position: absolute;
    margin-left: 24rem;
}

.lokal-lag h2 {
    color: black;
    width: 53rem;
    font-size: 2.4rem;
    font-weight: 300;
    position: absolute;
    margin-left: 25rem;
    margin-top: 5rem;
}


.lokal-lag img {
    width: 18rem;
    height: 18rem;
    position: absolute;   
}

.lokal-lag select {
    position: absolute;
    margin-top: 12rem;
    margin-left: 25rem;
    border: 1px solid transparent;
    width: 20rem;
    height: 5rem;
    border-radius: 0.5rem;
    font-size: 2rem;
}

.lokal-lag .knapp {
    justify-content: center;
    justify-self: center;
    margin-left: 50rem;
    margin-top: 12rem;
    width: 20rem;
    height: 5rem;
    border-radius: 1rem;
    
}

/* Lokal Lag BOX End */
/* Fokus Start*/
.fokus-grid {
    width: 98rem;
    justify-content: center;
    justify-self: center;
    margin: 4rem auto;
}

.fokus-innhold {
    display: inline-block;
    line-height: 25px;
    padding: 3rem;
    width: 40rem;
    margin: 1rem;
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0.1);
}

.innhold_nede {
    border-bottom-style: solid;
    border-bottom-color: white;
}

.container_image{
    display: inline-block;
    width: 8rem;
    height: 10rem;
}

.fokus-text {
    display: inline-block;
    width: 50%;
}

.fokus-innhold h2{
    color: #FFB300;    
}

.fokus-grid h1{
    font-size: 3rem;
    text-align: left;
    color: orange;

}

.fokus-grid h2{
    font-size: 3.5rem;
    text-align: center;
}

.fokus-grid p{
    font-size: 2rem;
    width: 40rem;
}

span {
    font-size: 1.2rem;
}

/* Fokus End */


